@import url("normalize.min.css");
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family: WITCHER;
    src: url(../fonts/THE\ WITCHER.otf);
}

.wrapper1{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -o-linear-gradient(225deg, #000000ad, #ff0000ad);
  background: linear-gradient(-135deg, #000000ad, #ff0000ad);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  -webkit-clip-path: circle(25px at calc(100% - 45px) 45px);
          clip-path: circle(25px at calc(100% - 45px) 45px);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
#active:checked ~ .wrapper1{
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 10;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: rgb(255, 0, 0);
  cursor: pointer;
  background: -o-linear-gradient(225deg, #c850c000, #00000000);
  background: linear-gradient(-135deg, #c850c000, #00000000);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: rgba(255, 255, 255, 0);
  color: #ff0000;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper1 ul{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper1 ul li{
  margin: 15px 0;
}
.wrapper1 ul li a{
  color: none;
  font-family: WITCHER;
  text-decoration: none;
  font-size: 30px;
  font-weight: 1000;

  padding: 5px 30px;
  color: rgb(0, 0, 0);
  position: relative;
  line-height: 50px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper1 ul li a:after{
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.wrapper1 ul li a:hover:after{
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.wrapper1 ul li a:hover{
  color: #ff0000;
}
input[type="checkbox"]{
  display: none;
}
/* .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
} */


.visually-hidden:not(:focus):not(:active), input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}


@-webkit-keyframes sparks-back-pulse {
    0% {
        opacity:.5
    }

    to {
        opacity: 1;
        -webkit-transform: scale(.9);
        transform:scale(.9)
    }
}

@keyframes sparks-back-pulse {
    0% {
        opacity:.5
    }

    to {
        opacity: 1;
        -webkit-transform: scale(.9);
        transform:scale(.9)
    }
}

@-webkit-keyframes sparks-front-pulse {
    0% {
        opacity:.5
    }

    to {
        opacity: 1;
        -webkit-transform: scale(.9);
        transform:scale(.9)
    }
}

@keyframes sparks-front-pulse {
    0% {
        opacity:.5
    }

    to {
        opacity: 1;
        -webkit-transform: scale(.9);
        transform:scale(.9)
    }
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    font-family: Cambria;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:80%
}

.container {
    max-width: 1920px;
    margin:auto
}

.image {
    display: block;
    max-width: 100%;
    height:auto
}

.promo__image {
    position: relative;
    top: 0;
    z-index: 2;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    height:100vh
}

.promo__image-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform:translateX(-50%);
        transform:translateX(-50%)
}

.promo__image-wrap:before {
    z-index: 3;
    background-image: url(../img/sparks_front.png);
    -webkit-animation: sparks-back-pulse 4s linear .5s infinite;
    animation:sparks-back-pulse 4s linear .5s infinite
}

.promo__image-wrap:after, .promo__image-wrap:before {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    content: ""
}

.promo__image-wrap:after {
    z-index: 1;
    background-image: url(../img/sparks_back.png);
    -webkit-animation: sparks-front-pulse 4s linear infinite;
    animation:sparks-front-pulse 4s linear infinite
}

.redbutton {
    position: absolute;
    bottom: 14%;
    left: 50%;
    z-index: 4;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform:translateX(-50%);
        transform:translateX(-50%)
}


a:visited {  
    text-decoration: none;
    color: rgb(0, 0, 0); 
   }

.button {
    padding: 13px 50px;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #f73427;
    border: 0;
    border-radius: 40px;
    -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .004);
            box-shadow: 0 16px 24px 0 rgba(0, 0, 0, .004);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    cursor:pointer
}

.button:hover {
    background-color:#e31608
}


@media screen and (min-width: 768px) and(min-height: 1024px) {

    .button {
        padding:24px 90px
    }
    
}


@media screen and (min-width: 1920px) {
    .promo__image-wrap {
        left:596px
    }

    .redbutton {
        top: 244px;
        left:1391px
    }

    .button {
        padding: 29px 121px;
        font-size:20px
    }
    
}




@media screen and (orientation: landscape) {
    .promo__image-wrap {
        width:auto
    }
}
